

.resume img {
    max-width: 100%;
    height: auto;
    margin: 0 auto;
}

.resume h4 {
    border-bottom: 1px solid #ddd;
    margin-bottom: 1rem;
}
.cover_letter p {
    width: 75%;
}
@media (max-width: 768px) {
    .cover_letter p {
        width: 100%;
    }
}
@media (max-width: 480px) {
    .cover_letter p {
        width: 100%;
    }
}