.resume_title, .resume_title2 {
    font-size: 1rem;
    font-weight: 700;   
    border-bottom: 1px solid #c5c5c5;
    padding-bottom: 10px;
    margin-bottom: 15px;
    display: flex; 
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.resume_title h1 {
    display: inline-block;
    font-size: 30px;
    text-transform: capitalize;
    font-weight: 800;
    color: #134f5c;
    font-family: 'Raleway', sans-serif;
}
.resume_title a {
    color: #555; 
    font-size: 24px;
    display: block;
}
.resume_title a i{
    display: inline-block;
    position: relative;
    vertical-align: middle;
    font-size: 14px;
    height: 30px;
    width: 30px;
    border-radius: 100%;
    text-align: center;
    line-height: 26px;
    border: 1px solid #e3e9f5;
    background: #fff;
    margin-top: -5px;
    margin-bottom: -5px;
}
.resume_title a .fa-download{
    background: #4990a0;
    color: #fff; 
}
.resume_title2 a .fa-envelope {
    color: #4990a0;
    font-size: 14px;
}