.bg-Navbar {
    background-color: #fff;
}

.navbar {
    border-bottom-left-radius: .90rem;
    border-bottom-right-radius: .90rem;
}
.me-auto {
    justify-content: flex-end;
}

.navbar a {
    color: #000;
}

.navbar .nav-link:hover, .navbar-brand:hover {
    color: red;
}

button {
    background: transparent;
    border: none;
}
.navbar-nav .active {
    border-radius: .58rem !important;
    background-color: #fff !important;
    color: #dc3545 !important;
    overflow: hidden !important;
}

.navbar .navbar-toggler {
    background-color: #f8f9fa !important;
}