@import "./variables.scss";
@import "./mixins.scss";


.service{
    margin-top: 50px;

    .circle {
      width: 70px;
      height: 70px;

      border-radius: 50%;
      border: 2px solid #e90064;
      display: flex;
      justify-content: center;
      align-items: center;

      .icon {
        color: #e90064;
        font-size: 36px;
        width: 60px;
        height: 60px;
        text-align: center;
      }
    }
    .text{
       margin-top: 20px;

    }
}
